html, body
{
    height:100vh;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(34, 34, 34);
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
   
  }

  .flex-plan{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    margin-top: 25%;
  }

.letters{
    align-items: center; 
    align-content: center;
    color: white;
    font-size: 24px;
}
.height{
    height: 100vh;
}


p{
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}


.backMenu{
    justify-content: center;
    align-content: center;
}
.planButton{
    width: 50%;
}
.plan{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.butn {
    background: #4f89b0;
    background-image: -webkit-linear-gradient(top, #4f89b0, #354854);
    background-image: -moz-linear-gradient(top, #4f89b0, #354854);
    background-image: -ms-linear-gradient(top, #4f89b0, #354854);
    background-image: -o-linear-gradient(top, #4f89b0, #354854);
    background-image: linear-gradient(to bottom, #4f89b0, #354854);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: 60%;
  }
  
  .butn2 {
    background: #b04f4f;
    background-image: -webkit-linear-gradient(top, #b04f4f, #630404);
    background-image: -moz-linear-gradient(top, #b04f4f, #630404);
    background-image: -ms-linear-gradient(top, #b04f4f, #630404);
    background-image: -o-linear-gradient(top, #b04f4f, #630404);
    background-image: linear-gradient(to bottom, #b04f4f, #630404);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }

